@use "../../global/global" as global;

.find-unit-section-idk-1225 {
  padding: 30px 20px 120px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  h2 {
    text-align: center;
  }

  .filters {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;

    .select-wrapper {
      position: relative;
      width: 240px;

      &::after {
        content: "";
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-image: url("/wp-content/themes/hbr-idkbrasil-theme-wp/assets/img/arrow-select.svg");
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
      }

      select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-right: 40px;
        background: global.color(gray-50);
        border: 1px solid global.color(gray-200);
        border-radius: 12px;
        padding: 16px;
        color: global.color(gray-700);
        width: 240px;
        max-width: 100%;
      }
    }
  }

  .primary-btn-blue {
    padding: 16px 40px;
    border-radius: 12px;
    height: 100%;
  }

  #map-wrapper {
    margin-top: 32px;
    width: 100%;
  }

  #map-iframe iframe {
    width: 100%;
    height: 400px;
    border: 0;
    display: block;
    border: 1px solid global.color(gray-200);
    border-radius: 22px;
    max-width: 1216px;
  }
}

@media (max-width: 768px) {
  .find-unit-section-idk-1225 {
    padding: 40px 20px 80px;

    .container {
      gap: 24px;
    }

    .filters {
      flex-direction: column;
      width: 100%;

      .select-wrapper,
      .select-wrapper select,
      .primary-btn-blue {
        width: 100%;
      }
    }

    #map-iframe iframe {
      height: 500px;
      border-radius: 24px;
      max-width: 100%;
    }
  }
}
