@use "../../global/global" as global;

.units-carousel-idk-1225 {
  padding: 90px 0;

  .container-fluid {
    max-width: 1440px;
  }
  .units-title {
    margin-bottom: 40px;
    font-weight: var(--weight-medium);
  }

  .units-carousel {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .units-viewport {
    overflow: hidden;
    width: 100%;
  }

  .units-track {
    display: flex;
    transition: transform 0.6s ease;
  }

  .unit-card {
    min-width: 100%;
    height: 560px;
    border-radius: 22px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .unit-content {
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: global.color(gray-0);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-weight: var(--weight-medium);
    }

    .primary-btn-green {
      width: fit-content;
      padding: 14px 20px;
      font-weight: var(--weight-medium);
    }
  }

  .unit-info {
    display: flex;
    flex-direction: column;
    gap: 14px;

    li {
      color: global.color(gray-300);
    }
  }

  .units-arrow {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    background-color: global.color(secondary);
    border-radius: 99999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
    }

    &:hover {
      background-color: global.color(support-green-200);
    }

    &:disabled {
      background-color: transparent;
      border: 1px solid global.color(secondary);
      cursor: not-allowed;

      img {
        width: 32px;
        height: 32px;
        filter: invert(53%) sepia(16%) saturate(1926%) hue-rotate(96deg)
          brightness(96%) contrast(82%);
      }
    }
  }

  .units-counter {
    background: #00000045;
    color: global.color(gray-0);
    padding: 6px 12px;
    border-radius: 100px;
    margin: 20px auto 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    font-weight: var(--weight-semibold);
    width: fit-content;
  }

  .arrows-mobile {
    display: none;
  }
}

@media (max-width: 1440px) {
  .units-carousel-idk-1225 {
    .units-title {
      text-align: center;
    }
  }
}

@media (max-width: 991px) {
  .units-carousel-idk-1225 {
    padding: 130px 0 40px;

    .units-title {
      margin-bottom: 20px;
    }

    .units-arrow {
      display: none;
    }

    .unit-card {
      height: 500px;
      border-radius: 24px;
    }

    .units-counter {
      margin: 0 auto;
    }

    .arrows-mobile {
      display: flex;
      padding: 20px;
      justify-content: center;
      gap: 30px;

      .units-arrow {
        display: flex;
        width: 52px;
        height: 52px;
        min-width: 52px;
        min-height: 52px;
        background-color: global.color(primary);

        &:hover {
          background-color: global.color(support-blue-200);
        }

        &:disabled {
          background-color: transparent;
          border: 1px solid global.color(gray-300);
          cursor: not-allowed;

          img {
            filter: invert(45%) sepia(0%) saturate(0%) hue-rotate(153deg)
              brightness(97%) contrast(87%);
          }
        }
      }
    }
  }
}
