@use "sass:map";

// sections global
@use "./global/global" as global;

// Custom components
@use "./components";

// views
@use "./views/views";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// bibliotecas externas
@import url("https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Aktiv Grotesk", sans-serif;
  color: global.color(gray-1000);
}

a {
  text-decoration: none;
  color: inherit;
}

#page #header {
  display: none;
}

.not-found-page-idk-1225 {
  height: 100vh;

  .content-section {
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper {
    width: 100%;
    padding: 40px 40px 40px 135px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-size: 64px;
      font-weight: var(--weight-semibold);
      line-height: 1.2;
      max-width: 500px;
    }

    h6 {
      color: global.color(gray-700);
    }

    .primary-btn-blue {
      margin-top: 12px;
      width: fit-content;
      gap: 7px;
    }
  }

  .shape-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: global.color(background-gray);
    overflow: hidden;

    h1 {
      color: global.color(primary);
      font-size: 220px;
      line-height: 1.2;
      font-weight: var(--weight-regular);
      width: max-content;
    }

    .not-found-shape {
      position: absolute;
      width: 38.3%; // 350px
      aspect-ratio: 1;
      border-radius: 50%;
      background: transparent;
      border: 34px solid global.color(primary);
      opacity: 0.8;
    }

    .not-found-shape-left {
      left: -18.7%; // 171px
      bottom: 12px;
    }

    .not-found-shape-right {
      right: -18.7%;
      top: 12px;
    }
  }

  @media (max-width: 1280px) {
    .content-wrapper {
      padding: 40px;

      h1 {
        font-size: 50px;
      }
    }

    .shape-container {
      h1 {
        font-size: 180px;
      }
    }
  }

  @media (max-width: 768px) {
    height: fit-content;

    .content-section {
      margin-top: 106px;
      flex-direction: column;
    }

    .content-wrapper {
      padding: 80px 20px;
      gap: 12px;

      h1 {
        font-size: 32px;
        font-weight: var(--weight-medium);
      }

      .primary-btn-blue {
        margin-top: 10px;
      }
    }

    .shape-container {
      background: url("../img/404-background.webp") no-repeat;
      background-size: cover;
      min-height: 370px;

      h1 {
        font-size: 90px;
        color: global.color(gray-0);
      }

      .not-found-shape {
        display: none;
      }
    }
  }
}

.primary-btn-white {
  background: global.color(gray-0);
  color: global.color(primary);
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 0px -4px 5.8px 0px #00194c40 inset;
  font-size: 16px;
  font-weight: var(--weight-semibold);
  cursor: pointer;
  transition: 0.3s ease all;

  @media (max-width: 768px) {
    width: 100%;
    padding: 14px 20px;
  }

  &:hover,
  &:focus,
  &:active {
    background: global.color(primary);
    color: global.color(gray-0);
  }

  .primary-btn-white:disabled {
    background: global.color(gray-500);
    color: global.color(gray-0);
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      background: global.color(gray-500);
      color: global.color(gray-0);
    }
  }
}

.primary-btn-blue {
  background: global.color(primary);
  color: global.color(gray-0);
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  font-size: 16px;
  font-weight: var(--weight-medium);
  cursor: pointer;
  transition: 0.3s ease all;

  @media (max-width: 768px) {
    padding: 14px 20px;
  }

  &:hover,
  &:focus,
  &:active {
    background: global.color(support-blue-200);
  }

  &:disabled {
    background: global.color(gray-500);
    color: global.color(gray-0);
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      background: global.color(gray-500);
      color: global.color(gray-0);
    }
  }
}

.primary-btn-green {
  background: global.color(secondary);
  color: global.color(gray-0);
  padding: 14px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  font-size: 16px;
  font-weight: var(--weight-semibold);
  cursor: pointer;
  transition: 0.3s ease all;
  gap: 6px;

  @media (max-width: 768px) {
    padding: 14px 20px;
  }

  &:hover,
  &:focus,
  &:active {
    background: global.color(support-green-200);
  }

  &:disabled {
    background: global.color(gray-500);
    color: global.color(gray-0);
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      background: global.color(gray-500);
      color: global.color(gray-0);
    }
  }
}

.secondary-btn-white {
  background: #ffffff33;
  color: global.color(gray-0);
  padding: 16px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid global.color(gray-0);
  font-size: 16px;
  font-weight: var(--weight-semibold);
  cursor: pointer;
  transition: 0.3s ease all;

  @media (max-width: 768px) {
    width: 100%;
    padding: 14px 20px;
  }

  &:hover,
  &:focus,
  &:active {
    background: #ffffff7e;
    color: global.color(primary);
    border-color: global.color(primary);
  }

  &:disabled {
    background: #ffffff33;
    color: global.color(gray-0);
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      background: #ffffff33;
      color: global.color(gray-0);
    }
  }
}

.secondary-btn-blue {
  background: transparent;
  color: global.color(primary);
  border: 1px solid global.color(primary);
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  font-size: 16px;
  font-weight: var(--weight-medium);
  cursor: pointer;
  transition: 0.3s ease all;

  @media (max-width: 768px) {
    padding: 14px 20px;
  }

  &:hover,
  &:focus,
  &:active {
    background: #8f9ab06a;
  }

  &:disabled {
    background: global.color(gray-500);
    color: global.color(gray-0);
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      background: global.color(gray-500);
      color: global.color(gray-0);
    }
  }
}

h1 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0;

  @media (max-width: 1024px) {
    font-size: 42px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0;

  @media (max-width: 1024px) {
    font-size: 32px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

h3 {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0;

  @media (max-width: 1024px) {
    font-size: 24px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

h6 {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
}

p.small {
  font-size: 14px;
  line-height: 1.2;
}
