@use "../../global/global" as global;

.numbers-section-idk-1225 {
  padding: 60px 20px;
  background-color: global.color(gray-50);

  .numbers-section-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      background-color: global.color(gray-200);
    }
  }

  .number-item {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 20px 20px;

    &:nth-child(-n + 2) {
      padding: 32px 20px 76px;
    }

    &:nth-child(-n + 2)::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: global.color(gray-200);
    }
  }

  .number {
    font-size: 64px;
    line-height: 1;
    font-family: Aktiv Grotesk;
    font-weight: var(--weight-light);
    color: global.color(gray-1000);
  }

  .description {
    font-weight: var(--weight-regular);
    color: global.color(gray-700);
  }
}

@media (max-width: 640px) {
  .numbers-section-idk-1225 {
    padding: 20px 20px;

    .numbers-section-wrapper {
      grid-template-columns: 1fr;
      gap: 0;

      &::before {
        display: none;
      }
    }

    .number-item {
      padding: 60px 0;
      gap: 12px;
      border-bottom: 1px solid global.color(gray-200);

      &:nth-child(-n + 2) {
        padding: 60px 0;
      }

      &:nth-child(-n + 2)::after {
        display: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
