@use "../../global/global" as global;

.values-section-idk-1225 {
  padding: 80px 20px;

  .values-section-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
  }

  .values-section-card {
    height: 300px;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 24px;
    color: global.color(gray-0);
    gap: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 24px;

    h4 {
      font-weight: var(--weight-medium);
    }

    p {
      width: 100%;
      max-width: 432px;
    }
  }
}

@media (max-width: 640px) {
  .values-section-idk-1225 {
    padding: 80px 0 40px;

    .values-section-wrapper {
      gap: 20px;
    }

    .values-section-card {
      height: 280px;

      p {
        max-width: 100%;
      }
    }
  }
}
