@use "../../global/global" as global;

.cta-section-1225 {
  padding: 120px 0;

  .cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 104px;
  }

  .cta-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1.1;
    align-items: flex-start;

    h2 {
      font-weight: var(--weight-medium);
      color: global.color(gray-1000);
      text-align: left;
    }

    p {
      color: global.color(gray-700);
      margin-bottom: 20px;
      text-align: left;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  .cta-image {
    flex: 0.9;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: 582px;
      border-radius: 32px;
      object-fit: cover;
    }
  }
}

@media (max-width: 991px) {
  .cta-section-1225 {
    padding: 80px 20px 80px;

    .cta-wrapper {
      flex-direction: column;
      text-align: center;
      padding: 0;
      gap: 32px;
    }

    button {
      width: fit-content;
    }

    .cta-image {
      width: 100%;
    }

    .cta-image img {
      width: 100%;
      max-height: 400px;
      height: auto;
    }
  }
}
