@use "../../global/global" as global;

.hero-banner-idk-1225 {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;

  img.hero-bg,
  video.hero-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.6);
  }

  .hero-content {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    max-width: 858px;
    gap: 20px;
    margin: 0 auto;

    h1 {
      font-weight: var(--weight-semibold);
      color: global.color(gray-0);
    }

    .subtitle {
      display: flex;
      flex-direction: column;
      max-width: 590px;
    }

    .subtitle-empresa {
      max-width: 760px;
    }

    p {
      color: global.color(gray-0);
    }

    .hero-buttons {
      margin-top: 12px;
      display: flex;
      gap: 12px;
      width: 100%;
      justify-content: center;
    }
  }

  .hero-content-hbr_malls {
    max-width: 916px;
  }

  .hero-content-empresa {
    max-width: 760px;
  }

  .scroll-down-wrapper {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }

  .scroll-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    p {
      color: global.color(gray-0);
      font-weight: var(--weight-semibold);
    }

    .mouse-icon {
      width: 24px;
      height: 24px;
    }
  }

  .scroll-down:hover {
    cursor: pointer;

    .mouse-icon {
      animation: scroll-down 1s infinite;
    }
  }

  .hero-content-comvem {
    img {
      height: 80px;
      width: auto;
      margin-bottom: 22px;
    }

    @media (max-width: 480px) {
      align-items: center;

      img {
        height: 60px;
        margin-bottom: 0;
      }
    }
  }

  .hero-bg,
  .hero-bg-swiper,
  .swiper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    height: 100%;
    display: flex;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-swiper-pagination {
    position: relative;
    display: flex;
    gap: 4px;
    background: #ffffff45;
    padding: 6px 6px;
    border-radius: 999px;
    width: fit-content !important;
    bottom: 0 !important;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: global.color(gray-0);
      opacity: 0.5;
      margin: 0 !important;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  @media (max-width: 480px) {
    .hero-content {
      align-items: flex-start;
      gap: 16px;
      justify-content: center;

      h1 {
        text-align: left;
      }
    }

    .subtitle {
      align-items: flex-start;
      max-width: 100%;

      p {
        text-align: left;
      }
    }

    .hero-buttons {
      margin-top: 16px;
    }

    .scroll-down {
      width: 100%;
      justify-content: center;
    }

    // .scroll-down-wrapper {
    //   bottom: 24px;
    // se o .scroll-down-wrapper possuir como filho o .swiper-pagination, ele fica fixo ao scroll
    .scroll-down-wrapper:has(.hero-swiper-pagination) {
      bottom: 24px;
    }
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
