@use "../../global/global" as global;

.site-footer-idk-1225 {
  background: global.color(primary);
  color: global.color(gray-0);
  padding: 60px 0;

  .footer-grid {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  .footer-logo-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-logo {
    width: 126px;
  }

  .footer-line-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .footer-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-col h4 {
    font-size: 18px;
    font-weight: var(--weight-medium);
    line-height: 1.2;
    color: global.color(gray-800);
  }

  .footer-col ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .footer-col li {
    list-style: none;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }

  .footer-col a {
    padding: 4px 0;
    color: global.color(gray-0);
    line-height: 1.2;
    font-size: 16px;
    font-weight: var(--weight-regular);
  }

  .footer-col a:hover {
    color: global.color(support-blue-100);
  }

  .find-us-footer {
    max-width: 23%;
    gap: 16px;
  }

  .find-us-footer h6 {
    color: global.color(gray-0);
    line-height: 1.5;
    font-size: 16px;
    font-weight: var(--weight-semibold);
  }

  .find-us-footer p {
    color: global.color(gray-0);
    line-height: 1.5;
    font-size: 13px;
    font-weight: var(--weight-regular);
  }

  .footer-social {
    gap: 16px;
  }

  .social-grid-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  a.social-btn-footer {
    display: flex;
    flex-direction: column;
    width: 127px;
    max-width: 100%;
    aspect-ratio: 1.4;
    padding: 20px 16px;
    border-radius: 10px;
    border: 1px solid global.color(support-blue-900);
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: var(--weight-regular);
    color: global.color(gray-800);
    align-items: center;
    gap: 8px;
    transition: background 0.25s ease, color 0.25s ease;
    background: transparent;
  }

  a.social-btn-footer:hover {
    color: inherit;
  }

  .social-btn-footer img {
    width: 32px;
    height: 32px;
    filter: invert(1);
  }

  .social-btn-footer:hover {
    background-color: global.color(support-blue-900);
    color: global.color(gray-0);
    cursor: pointer;
  }

  .modal-contact {
    margin-top: 7px;
  }

  .contact-item-footer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  .contact-item-footer a {
    font-size: 14px;
    line-height: 1.2;
    font-weight: var(--weight-regular);
    white-space: nowrap;
  }

  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 46px;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: var(--weight-regular);
    color: global.color(gray-0);

    .footer-links {
      display: flex;
      gap: 8px;
    }

    .footer-links a {
      color: inherit;
      text-decoration: none;
    }

    .footer-links a:hover {
      color: global.color(support-blue-100);
    }
  }

  @media screen and (max-width: 991px) {
    padding: 40px 20px;

    .footer-logo {
      height: 50px;
    }

    .footer-line-div {
      flex-wrap: wrap;
    }

    .footer-bottom {
      flex-direction: column;
      gap: 16px;
      margin-top: 24px;
    }
  }

  // RESPONSIVO MOBILE
  @media screen and (max-width: 767px) {
    padding: 40px 20px;

    .footer-logo {
      height: 57px;
      width: fit-content;
    }

    .realty-logo {
      display: none;
    }

    .footer-grid {
      padding: 0;
      gap: 40px;
    }

    .footer-line-div {
      flex-direction: column;
      gap: 40px;
    }

    .find-us-footer {
      max-width: 100%;
      gap: 16px;
    }

    .social-grid-footer {
      flex-wrap: wrap;
    }

    .footer-col {
      display: flex;
      flex-direction: column;
    }

    .contact-item-footer {
      flex-wrap: wrap;
    }

    .footer-bottom {
      display: none;
    }
  }
}
