// Container
.container-lg {
  width: 100%;
  padding: 0px 80px;

  @media (min-width: 1200px) {
    max-width: 1375px;
    margin: 0 auto;
    display: block;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}

.container {
  width: 100%;
  padding: 0px 20px;

  @media (min-width: 1200px) {
    max-width: 1256px;
    margin: 0 auto;
    display: block;
  }
}

// Flex props
$gaps: (4, 6, 8, 10, 12, 16, 20, 24, 32, 40, 50, 60, 80);

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.flex {
  /**
  * [!] THIS IS NOT CONTROVERSIAL [!]
  * As the layout doesnt make usage of flex (grouped elements horizontally)
  * and the code is mobile-first, the flex property returns to a default
  * type of display and stacking sections and divs up and down eachothers.
  * For full flex usage (mobile and desktop) use: "flex flex--force".
  */
  display: block;

  &--force {
    display: flex;
  }

  &--none {
    display: none;
  }

  &--wrap {
    flex-wrap: wrap;
  }
  // Flex helpers
  &--jcc {
    justify-content: center;
  }

  &--jcfe {
    justify-content: flex-end;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--jcsa {
    justify-content: space-around;
  }

  &--jcsb {
    justify-content: space-between;
  }

  &--aic {
    align-items: center;
  }

  &--aifs {
    align-items: flex-start;
  }

  &--aife {
    align-items: flex-end;
  }

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--column-reverse {
    flex-direction: column-reverse;
  }

  @each $gap in $gaps {
    &--gap-#{$gap} {
      gap: $gap + 0px;
    }
  }

  @media (min-width: 1200px) {
    display: flex;

    &--sm {
      display: block;
    }
  }

  @media (min-width: 767px) {
    &--row__md {
      flex-direction: row;
    }

    &--aic__md {
      align-items: center;
    }

    &--column__md {
      flex-direction: column;
    }

    &--force__md {
      display: flex;
    }

    &--none__md {
      display: none;
    }

    @each $gap in $gaps {
      &--gap-#{$gap}__md {
        gap: $gap + 0px;
      }
    }
  }

  @media (min-width: 1200px) {
    &--row__lg {
      flex-direction: row;
    }

    &--aic__lg {
      align-items: center;
    }

    &--aife__lg {
      align-items: flex-end;
    }

    &--jcfe__lg {
      justify-content: flex-end;
    }

    &--jcc__lg {
      justify-content: center;
    }

    &--column__lg {
      flex-direction: column;
    }

    &--force__lg {
      display: flex;
    }

    &--none__lg {
      display: none;
    }

    @each $gap in $gaps {
      &--gap-#{$gap}__lg {
        gap: $gap + 0px;
      }
    }
  }
}
