.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ta-center{
  text-align: center;
}
.ta-left{
  text-align: left;
}
.ta-right{
  text-align: right;
}


@media(min-width: 767px){
  .ta-center__md{
    text-align: center;
  }
  .ta-left__md{
    text-align: left;
  }
  .ta-right__md{
    text-align: right;
  }
}


.opacity{
  &-60{
    opacity: 0.6;
  }
  &-80{
    opacity: 0.8;
  }
}

.flex-1{
  flex: 1;
}