@use "../../global/global" as global;

.malls-section-hbr-malls-idk-1225 {
  position: relative;
  padding: 80px calc(15.15% + 10px);

  .container {
    max-width: 1216px;
    padding: 0;
  }

  .section-title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 24px;
  }

  .shopping-tabs-wrapper {
    overflow-x: auto;
    margin-bottom: 80px;
    justify-content: center;
    display: flex;
    padding: 0 20px;
  }

  .shopping-tabs {
    display: flex;
    gap: 8px;
    width: max-content;
    padding: 0;
  }

  .shopping-tab {
    white-space: nowrap;
    padding: 20px 16px;
    border-radius: 12px;
    background: global.color(gray-100);
    color: global.color(gray-500);
    cursor: pointer;
    font-size: 16px;
    font-weight: var(--weight-regular);
    line-height: 1.2;
    transition: 0.3s ease all;

    &:hover,
    &:focus,
    &:active {
      background: global.color(gray-200);
    }

    &.is-active {
      background: global.color(primary);
      color: global.color(gray-0);
      box-shadow: 0px -4px 8.2px 0px #ffffff40 inset;
    }
  }

  .shopping-content {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .shopping-grid {
    display: grid;
    grid-template-columns: 60.25% calc(39.75% - 20px); // Proporção de 708x488
    gap: 20px;
    align-items: start;
    justify-content: center;
  }

  .shopping-image img {
    width: 100%;
    height: 643px;
    border-radius: 24px;
    display: block;
    object-fit: cover;
  }

  .shopping-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
  }

  .shopping-title {
    margin-bottom: 2px;
  }

  .shopping-description {
    display: flex;
    flex-direction: column;
    gap: 19px;
    color: global.color(gray-700);
    font-weight: var(--weight-regular);

    * {
      font-size: 14px;
    }

    .numer-emphasis {
      font-size: 16px;
      color: global.color(gray-1000);
    }
  }

  .primary-btn-blue {
    font-weight: var(--weight-medium);
    width: max-content;
  }

  .shopping-map {
    height: 100%;
  }

  .shopping-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 0;
    filter: grayscale(100%);
  }

  .shopping-shape {
    position: absolute;
    width: 15.15%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: transparent;
    border: 34px solid global.color(support-orange);
    opacity: 0.8;
  }

  .shopping-shape-left {
    left: -6.8%;
    top: 293px;
  }

  .shopping-shape-right {
    right: -6.8%;
    bottom: 80px;
  }

  @media (max-width: 1375px) {
    .shopping-shape {
      border-width: 28px;
    }
  }

  @media (max-width: 1024px) {
    .shopping-shape {
      border-width: 22px;
    }
  }

  @media (max-width: 960px) {
    padding: 80px 20px 40px;

    .section-title {
      font-size: 32px;
    }

    .shopping-tabs-wrapper {
      margin-bottom: 32px;
      justify-content: flex-start;
    }

    .shopping-grid {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .shopping-tabs {
      padding: 0;
    }

    .shopping-image img {
      height: 490px;
    }

    .shopping-title {
      font-size: 24px;
      margin-bottom: 0;
    }

    .primary-btn-blue {
      margin-bottom: 4px;
    }

    .shopping-map {
      height: 287px;
    }

    .shopping-shape {
      display: none;
    }
  }
}
