@forward "../pages/comvem-page/data-section";
@forward "../pages/comvem-page/partners-section";
@forward "../pages/comvem-page/units-section";
@forward "../pages/comvem-page/find-section";

@use "../global/global" as global;
