@use "../global/global" as global;

.enterprise-single-idk-1225 {
  .enterprise-gallery {
    margin-top: -90px;
    padding: 170px 20px 80px;
    text-align: center;

    .title {
      margin-bottom: 40px;
      font-weight: var(--weight-medium);
    }

    .enterprise-gallery-swiper {
      display: flex;
      align-items: center;
      gap: 40px;
      max-width: 1408px;
      margin: 0 auto;
    }

    .swiper {
      overflow: hidden;
      width: 100%;
    }

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      min-width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 96px;
    }

    .swiper-slide img {
      width: 100%;
      max-width: 1216px;
      height: 560px;
      object-fit: cover;
      border-radius: 22px;
    }

    .enterprise-arrow {
      width: 56px;
      height: 56px;
      min-width: 56px;
      min-height: 56px;
      background-color: global.color(primary);
      border-radius: 99999px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 32px;
        height: 32px;
      }

      &:hover {
        background-color: global.color(support-blue-200);
      }

      &.swiper-button-disabled {
        background-color: transparent;
        border: 1px solid global.color(gray-300);
        cursor: not-allowed;

        img {
          filter: invert(91%) sepia(1%) saturate(123%) hue-rotate(89deg)
            brightness(7) contrast(90%);
        }
      }
    }

    .arrows-mobile {
      display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none !important;
    }

    .swiper-pagination {
      margin-top: 20px;
      position: relative;
    }

    .swiper-pagination {
      margin: 24px auto 0;
      position: relative;
      display: flex;
      gap: 4px;
      background: #00000045;
      padding: 4px 8px;
      border-radius: 999px;
      width: fit-content;

      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background: global.color(gray-0);
        opacity: 0.5;
        margin: 0 !important;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }

  .enterprise-location {
    padding: 40px 0 120px;
    position: relative;

    h2 {
      text-align: center;
      margin-bottom: 40px;
      font-weight: var(--weight-medium);
    }

    .location-wrapper {
      position: relative;
      max-width: 1636px;
      margin: 0 auto;
      padding: 0 210px;
    }

    .location-map {
      height: 560px;
      border-radius: 22px;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }

    /* DECORAÇÕES */
    .location-line {
      position: absolute;
      left: 131px; // 40px de gap entre a linha e o mapa
      top: 0;
      width: 39px;
      height: 100%;
      background: global.color(accent);
    }

    img.circle-vector {
      position: absolute;
      top: 0;
      right: 10px; // 40px de gap entre a linha e o mapa
      z-index: 1;
      width: 160px;
      height: auto;
      object-fit: contain;
    }
  }

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0;

    .contact-col {
      flex: 1;
    }

    .contact-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: 1px solid global.color(gray-200);
      height: 100%;
      width: 100%;
      align-items: center;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      max-width: 552px;
      padding: 0 20px 0 72px;

      h2 {
        font-size: 42px;
        color: global.color(gray-1000);
        font-weight: var(--weight-medium);
      }

      p {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: var(--weight-regular);
        color: global.color(gray-700);
        line-height: 1.5;
      }

      .input-group {
        position: relative;
        margin-bottom: 20px;
      }

      .input-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
      }

      input {
        width: 100%;
        padding: 16px 20px 16px 54px;
        font-size: 18px;
        font-weight: var(--weight-regular);
        resize: none;
        color: global.color(gray-1000);
        border: 1px solid global.color(gray-200);
        border-radius: 12px;
      }

      textarea {
        width: 100%;
        padding: 16px 20px;
        font-size: 18px;
        font-weight: var(--weight-regular);
        resize: none;
        color: global.color(gray-800);
        border: 1px solid global.color(gray-200);
        border-radius: 12px;
      }

      input:focus,
      textarea:focus {
        outline: none;
        border-color: global.color(primary);
      }

      input::placeholder,
      textarea::placeholder {
        color: global.color(gray-700);
      }

      textarea {
        height: 180px;
      }

      .checkbox-line {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 14px;
        color: global.color(gray-700);
        font-weight: var(--weight-regular);
        margin: 12px 0 32px;

        input {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
        }

        .check-icon {
          width: 24px;
          height: 24px;
          border: 2px solid global.color(primary);
          border-radius: 5px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 14px;
          transition: 0.2s ease;
          cursor: pointer;
        }

        input:checked + .check-icon {
          border-color: global.color(primary);
          background-color: global.color(primary);
          background-image: url("../img/check-icon.svg");
        }

        a {
          color: inherit;
          text-decoration: underline;
        }
      }

      .send-btn {
        width: 100%;
        padding: 16px;
        background: global.color(primary);
        color: global.color(gray-0);
        border: none;
        border-radius: 12px;
        font-weight: var(--weight-medium);
        cursor: pointer;
        transition: background 0.25s ease, opacity 0.3s ease;

        &:disabled {
          opacity: 0.35;
          cursor: not-allowed;
        }
      }

      .send-btn:hover:not(:disabled) {
        background: global.color(support-blue-200);
        color: global.color(primary);
      }
    }

    .image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 900px;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 1120px) {
    .enterprise-location {
      .location-wrapper {
        padding: 0 160px;
      }

      .location-line {
        left: 90px;
      }

      img.circle-vector {
        right: 10px;
        width: 120px;
      }
    }
  }

  @media (max-width: 960px) {
    .enterprise-gallery {
      margin-top: -106px;
      padding: 186px 20px 80px;

      .container {
        max-width: 100%;
        padding: 0;
      }

      .title {
        max-width: 300px;
        margin: 0 auto 32px;
      }

      .swiper-slide {
        padding: 0;
      }

      .enterprise-gallery-swiper {
        height: 500px;
      }

      .enterprise-gallery-swiper > .enterprise-arrow {
        display: none;
      }

      .swiper-slide img {
        height: 500px;
        border-radius: 24px;
      }

      .arrows-mobile {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 20px 0 30px;
        height: 100px;

        * {
          left: unset;
          right: unset;
          position: relative;
        }
      }

      .swiper-pagination {
        margin: 0 auto;
        gap: 8px;
      }
    }

    .enterprise-location {
      padding: 0 20px 80px;

      h2 {
        max-width: 350px;
        margin: 0 auto 32px;
      }

      .location-wrapper {
        max-width: 100%;
        padding: 0;
      }

      .location-map {
        height: 500px;
        width: 100%;
        border-radius: 24px;
      }

      .location-line,
      .circle-vector {
        display: none;
      }
    }

    .contact-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;

      .contact-wrapper {
        padding: 40px 20px;
      }

      .contact-form {
        padding: 0;
        gap: 20px;

        h2 {
          font-size: 32px;
        }

        p {
          margin-bottom: 0;
        }
      }

      .image-wrapper img {
        height: 500px;
      }
    }
  }
}
