@forward "../pages/home/blog";
@forward "../pages/home/cta-image";
@forward "../pages/home/hero";
@forward "../pages/home/portfolio";
@forward "../pages/home/stats";

@use "../global/global" as global;
