@use "../global/global" as global;

.not-found-page-idk-1225 {
  height: 100vh;

  .content-section {
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper {
    width: 100%;
    padding: 40px 40px 40px 135px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-size: 64px;
      font-weight: var(--weight-semibold);
      line-height: 1.2;
      max-width: 500px;
    }

    h6 {
      color: global.color(gray-700);
    }

    .primary-btn-blue {
      margin-top: 12px;
      width: fit-content;
      gap: 7px;
    }
  }

  .shape-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: global.color(background-gray);
    overflow: hidden;

    h1 {
      color: global.color(primary);
      font-size: 220px;
      line-height: 1.2;
      font-weight: var(--weight-regular);
      width: max-content;
    }

    .not-found-shape {
      position: absolute;
      width: 38.3%; // 350px
      aspect-ratio: 1;
      border-radius: 50%;
      background: transparent;
      border: 34px solid global.color(primary);
      opacity: 0.8;
    }

    .not-found-shape-left {
      left: -18.7%; // 171px
      bottom: 12px;
    }

    .not-found-shape-right {
      right: -18.7%;
      top: 12px;
    }
  }

  @media (max-width: 1280px) {
    .content-wrapper {
      padding: 40px;

      h1 {
        font-size: 50px;
      }
    }

    .shape-container {
      h1 {
        font-size: 180px;
      }
    }
  }

  @media (max-width: 768px) {
    height: fit-content;

    .content-section {
      margin-top: 106px;
      flex-direction: column;
    }

    .content-wrapper {
      padding: 80px 20px;
      gap: 12px;

      h1 {
        font-size: 32px;
        font-weight: var(--weight-medium);
      }

      .primary-btn-blue {
        margin-top: 10px;
      }
    }

    .shape-container {
      background: url("../img/404-background.webp") no-repeat;
      background-size: cover;
      min-height: 370px;

      h1 {
        font-size: 90px;
        color: global.color(gray-0);
      }

      .not-found-shape {
        display: none;
      }
    }
  }
}
