// placeholder
.view__single {
  .post-hero {
    height: 505px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .hero-overlay {
      background-color: black;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    .hero-container {
      max-width: 353px;
      z-index: 2;

      .post-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: white;
        max-width: 353px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
      }

      .post-date {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: white;
        display: block;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .entry-content {
    padding: 80px 20px;

    p {
      margin-bottom: 40px;
    }

    li {
      margin-bottom: 10px;
    }
    h2,
    h3 {
      margin-bottom: 20px;
    }

    figure {
      margin: 30px 0;
    }

    p,
    li {
      font-size: 16px;
      line-height: 150%;
      color: #717171;
      font-weight: 400;
    }

    h2 {
      font-weight: 500;
      color: black;
      font-size: 20px;
      line-height: 120%;
    }
  }

  .post-share {
    margin-bottom: 80px;

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: black;
      margin-bottom: 24px;
    }

    .share-buttons {
      display: flex;
      gap: 8px;

      a {
        width: 40px;
        height: 40px;
      }

      a,
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #00194c;
        color: white;
      }

      button {
        display: flex;
        gap: 8px;
        padding: 10px 14px;
      }
    }
  }

  .related-posts {
    padding: 0px 20px 80px 20px;
    margin-top: 0px !important;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h3 {
      font-weight: 500;
      font-size: 32px;
      line-height: 120%;
    }
  }

    .contact-blog-idk-1225 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/contact-banner.png");
    height: 500px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 20px;
    padding-left: 20px;
    padding-right: 20px;

    .text-container {
      margin-bottom: 32px;

      .title {
        font-size: 24px;
        font-weight: 500;
        line-height: 120%;
        color: white;
      }

      p:not(.title) {
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: white;
      }
    }

    label {
      background-color: white;
      width: 100%;
      max-width: 353px;
      border: 1px solid #d4d4d4;
      border-radius: 12px;
      font-size: 14px;
      display: flex;
      gap: 10px;
      padding: 19px 0 19px 16px;
      margin-bottom: 12px;

      input {
        width: 100%;
        outline: none;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00194c;
      padding: 16px 0;
      border-radius: 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: white;
      width: 100%;
    }
  }

  @media (min-width: 993px) {
    .post-hero {
      .hero-container {
        &,
        .post-title {
          max-width: 588px;
        }

        .post-title {
          font-size: 32px;
          line-height: 120%;
        }

        .post-date {
          font-size: 18px;
          line-height: 150%;
          font-weight: 400;
          margin-top: 20px;
        }
      }
    }

    .entry-content {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      h2 {
        font-size: 24px;
        line-height: 120%;
      }
    }

    .post-share {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      hr {
        flex-basis: 100%;
      }
    }

    .related-posts {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      .swiper-slide {
        max-width: 392px;
      }
    }

        .contact-blog-idk-1225 {
      max-height: 208px;
      padding: 0px 33px;
      max-width: 1215px;
      margin-left: auto;
      margin-right: auto;

      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .text-container {
          .title {
            font-size: 24px;
            line-height: 120%;
          }

          p:not(.title) {
            margin-top: 8px;
            font-size: 16px;
            line-height: 150%;
          }
        }

        .group-form {
          display: flex;
          gap: 8px;
          width: 50%;

          label {
            max-width: none;
            margin: 0;
          }

          button {
            max-width: 150px;
          }
        }
      }
    }
  }
}
