@use "../global/global" as global;

.terms-page-idk-1225 {
  margin-top: 98px;
  padding: 60px 0 120px;

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .terms-grid {
    display: grid;
    grid-template-columns: 1fr 384px;
    gap: 40px;
    align-items: start;
  }

  .terms-updated {
    font-size: 18px;
    color: global.color(gray-700);
    font-weight: var(--weight-regular);
    line-height: 1.5;
    margin-bottom: 24px;
  }

  .terms-intro {
    margin-bottom: 64px;

    h1 {
      margin-bottom: 16px;
    }
  }

  .terms-section {
    scroll-margin-top: 110px;
    margin-bottom: 80px;

    h2 {
      margin-bottom: 12px;
    }

    ul {
      list-style: disc;
      margin-left: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    a {
      text-decoration: underline;
    }

    table {
      border: 1px solid;
      margin-top: 20px;

      th,
      td {
        border: 1px solid;
        padding: 8px;
      }

      tr td:first-child {
        background-color: global.color(gray-100);
        font-weight: var(--weight-medium);
        text-align: center;
      }
    }
  }

  .terms-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: global.color(gray-700);
    line-height: 1.6;
  }

  .terms-sidebar {
    position: sticky;
    top: 120px;
    align-self: flex-start;
  }

  .terms-content {
    max-width: 696px;
  }

  .terms-sidebar-box {
    border: 1px solid global.color(gray-200);
    background: global.color(gray-50);
    border-radius: 19px;
    padding: 24px;

    h5 {
      font-weight: var(--weight-medium);
      margin-bottom: 32px;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 0;
    }

    li {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: start;
    }

    img {
      width: 24px;
      height: 24px;
    }

    a {
      font-size: 16px;
      color: global.color(gray-700);
      font-weight: var(--weight-regular);
      text-decoration: none;
      line-height: 1.2;
      display: flex;
      margin-top: 3px;

      &:hover {
        color: global.color(primary);
      }

      &.active {
        color: global.color(gray-1000);
        font-weight: var(--weight-medium);
      }
    }
  }

  @media (max-width: 960px) {
    padding: 44px 40px 0;

    .desktop-only {
      display: none;
    }

    .mobile-only {
      display: block;
    }

    .terms-grid {
      display: grid;
      align-items: start;
      grid-template-columns: 1fr;
    }

    .terms-intro {
      margin-bottom: 40px;
    }

    .terms-sidebar {
      position: static;
      margin-top: 0;
      width: 100%;
      margin-bottom: 80px;
    }

    .terms-content {
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
  }

  /* MOBILE */
  @media (max-width: 480px) {
    padding: 44px 20px 0;
  }
}
