@forward "./single";
@forward "./home";
@forward "./_empresa";
@forward "./_comvem";
@forward "./_opportunities";
@forward "./_hbr-malls";
@forward "./_not-found-page.scss";
@forward "./_termos-de-uso-e-lgpd.scss";
@forward "./blog";
